body {
    font-family: "Dancing Script", cursive;
    background-image: url(./img/patrick-tomasso-QMDap1TAu0g-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    gap: 10px;;
}

.btn {
    background-color: #ffada3;
    border: none;
    color: #232323;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    border-radius: 5px;
}


#picture {
    max-height: 95vh;
    width: auto;
    max-width: 60vw; 
    object-fit: contain;
    border-radius: 10px;
}

