body {
    background-color: #39a9cb;
    font-family: "Dancing Script", cursive;
}

#container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #ffada3;
    border: none;
    color: #232323;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}


#picture {
    display: block;
    width: 50%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
